<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HPContext" connectionString="data source=192.168.121.222;initial catalog=HospitalDb.HPContext;persist security info=True;user id=val4o899;password=valiovalio1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>